#main-content {
    text-align: center;
}

@media (min-width: 992px) {
    .nav-link i, a {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .nav-link i, a {
        font-size: 1.5rem;
    }
}

#navbar-items a, i{
    text-align: center;
    color: #818181;
}

#navbar-items .active {
    color: #595cef;
}

#navbar-container {
    background-color: #f1f1f1;
}

.dropdown-item {
    font-size: 1.2vw;
}


.alert {
    padding: 8px;
    background-color: #FFCCCC;
    color: black;
}

.alert-error {
    padding: 8px;
    background-color: #AF0606;
    color: #818181;
}

.alert-info {
    padding: 8px;
    background-color: #7676a7;
    color: white;
}