#main-content {
    text-align: center;
}

@media (min-width: 992px) {
    .nav-link i, a {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .nav-link i, a {
        font-size: 1.5rem;
    }
}

#navbar-items a, i{
    text-align: center;
    color: #818181;
}

#navbar-items .active {
    color: #595cef;
}

#navbar-container {
    background-color: #f1f1f1;
}

.dropdown-item {
    font-size: 1.2vw;
}

.action-buttons {
    width: 400px;
    margin: 0 auto;
    display: inline;
}

.modal-header {
    background: #FFFFFF;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.carbText {
    color: #136ccc;
}

.fatText {
    color: #5e5c5c;
}

.proteinText {
    color: #2ac54d;
}
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label.error.fail-alert {
border: 2px solid red;
border-radius: 4px;
line-height: 1;
padding: 2px 0 6px 6px;
background: #ffe6eb;
}
input.valid.success-alert {
border: 2px solid #4CAF50;
color: green;
}