<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>

    <body>
        <h1>About</h1>

    <header>
        <div class="container">
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href = "{{ url_('login') }}">Login</a></li>
                        <li><a href = "{{ url_('register') }}">Register</a></li>
                        <li><a href = "{{ url_('dashboard') }}">Dashboard</a></li>
                        <li><a href = "{{ url_('my goals') }}">My Goals</a></li>
                        <li><a href = "{{ url_('my meals') }}">My Meals</a></li>
                        <li><a href = "{{ url_('find meals') }}">Find Meals</a></li>
                        <li><a href = "{{ url_('my profile') }}">My Profile</a></li>
                        <li><a href = "{{ url_('about') }}">About</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>

        {% block content %}
        {% endblock %}

    </body>
</html>