{% block diet_body %}
    <h2>Diet Questionnaire</h2>

    {{ diet_form.hidden_tag() }}
    <form action="{{ url_for('register.diet_questions') }}" method="post">
            {% for d_field in diet_form if d_field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ d_field.label() }}
                    {{ d_field }}
{#                    {% for error in d_field.errors %}#}
{#                        {{ error }}#}
{#                    {% endfor %}#}
                </div>

            {% endfor %}
        {{ diet_form.csrf_token }}
{##}
{#            {% if diet_form.submit.data %}#}
{#                {{ is_available() }}#}
{#            {% endif %}#}
    </form>

{% endblock diet_body %}