{##}
{% block profile_body %}
{#    <h2>Profile Questionnaire</h2>#}

    {{ profile_form.hidden_tag() }}
    <form action="{{ url_for('register.profile_questions') }}" method="post">

        {% for p in profile_form if p.widget.input_type != 'hidden' and p.widget.input_type != 'submit' %}
            <div class="form-group">
                {{ p.label() }}
                {{ p }}
{#                    {% for error in p.errors %}#}
{#                        {{ error }}#}
{#                    {% endfor %}#}
            </div>
        {% endfor %}
        <div class="form-group">
            <!-- Submit -->

            {# show submit button only if not False #}
            {# if nothing passed for showSubmit, will show #}
            {% if showSubmit %}
                {{ profile_form.submit }}
            {% endif %}
        </div>
        {{ profile_form.csrf_token }}
{##}
{#            {% if profile_form.submit.data %}#}
{#                {{ is_available() }}#}
{#            {% endif %}#}
    </form>
{% endblock profile_body %}