{##}
{% block profile_body %}
{#    <h2>Profile Questionnaire</h2>#}

    {{ profile_form.hidden_tag() }}
    <form action="{{ url_for('register.register') }}" method="post">
{#!= 'hidden' and p.widget.input_type != 'submit' #}
{#        {% for p in profile_form if p not in ['sex','diet_type'] and p.widget.input_type not in ['hidden','submit']  %}#}
{#            <div class="form-group">#}
{#                {{ p.label() }}#}
{#                {{ p }}#}
{#            </div>#}
{#        {% endfor %}#}

        <!----- Display Name ----->
        <div class="form-group">
            {{ profile_form.name.label }}
            {{ profile_form.name }}
        </div>

        <!----- Sex ----->
        <div class="form-group">
            Sex
            {% for subfield in profile_form.sex %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
        </div>

        <!----- Birthday ----->
        <div class="form-group">
            {{ profile_form.birth.label }}
            {{ profile_form.birth }}
        </div>
        {% if profile_form.birth.errors %}
            <ul class="errors">{% for error in profile_form.birth.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <!----- Weight ----->
        <div class="form-group">
            {{ profile_form.weight.label }}
            {{ profile_form.weight }}
        </div>
        {% if profile_form.weight.errors %}
            <ul class="errors">{% for error in profile_form.weight.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <!----- Height ----->
        <div class="form-group">
            {{ profile_form.height.label }}
            {{ profile_form.height(placeholder="5'5") }}
        </div>
        {% if profile_form.height.errors %}
            <span class="errors" style="color:red">{% for error in profile_form.height.errors %}
                {{ error }}
            {% endfor %}</span>
        {% endif %}

        <!----- Activity Level ----->
        <div class="form-check">
            Activity Level<br>
            {% for subfield in profile_form.activity %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
        </div>

{#        <!----- Starting Goal ----->#}
{#        <div class="form-check">#}
{#            Starting Goal<br>#}
{#            {% for subfield in profile_form.current_goal %}#}
{#                <tr>#}
{#                    <td>{{ subfield }}</td>#}
{#                    <td>{{ subfield.label }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </div>#}

        <!----- Health Labels ----->
        <div class="form-check">
            Diet Health Labels<br>
            <ul style="column-count:4; column-gap: 5%;">
            {% for subfield in profile_form.diet_type %}
                    <li style="list-style: none;">{{ subfield }} {{ subfield.label }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            <!-- Submit -->
            <br>
{#            {{ profile_form.submit }}#}
            <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Submit">
        </div>
        {{ profile_form.csrf_token }}
{##}
{#            {% if profile_form.submit.data %}#}
{#                {{ is_available() }}#}
{#            {% endif %}#}
    </form>
{% endblock profile_body %}