{% from 'incl/macros.html' import show_errors with context %}
{% block profile_body %}
{#    <h2>Profile Questionnaire</h2>#}

    {{ profile_form.hidden_tag() }}

        <!----- Display Name ----->
        <div class="form-group" style="margin: auto; width: 300px;">
            <h5 style="text-align: center;">{{ profile_form.name.label }}</h5>
            <div class="d-flex">
            {{ profile_form.name(class="form-control") }}
            </div>
            {{ show_errors(profile_form.name) }}
        </div>

        <br>

        <!----- Sex ----->
        <div class="form-group" style="margin: auto; width: 300px;">
            <h5 style="text-align: center;">Sex</h5>
            <div style="margin: auto; width: 300px;">
                {% for subfield in profile_form.sex %}
                    <tr>
                        <td>{{ subfield(class="form-check-input") }}</td>
                        <td>{{ subfield.label(class="form-check-label") }}</td>
                    </tr>
                {% endfor %}
                {{ show_errors(profile_form.sex) }}
            </div>
        </div>

        <br>

        <!----- Birthday ----->
        <div class="form-group" style="margin: auto; width: 300px;">
            <h5 style="text-align: center;">{{ profile_form.birth.label }}</h5>
            <div class="d-flex">
                {{ profile_form.birth(class="form-control") }}
            </div>
            {{ show_errors(profile_form.birth) }}
        </div>

        <br>

        <!----- Weight ----->
        <div class="form-group" style="margin: auto; width: 300px;">
            <h5 style="text-align: center;">{{ profile_form.weight.label }}</h5>
            <div class="d-flex">
                {{ profile_form.weight(class="form-control") }}
            </div>
            {{ show_errors(profile_form.weight) }}
        </div>

        <br>

        <!----- Height ----->
        <div class="form-group" style="margin: auto; width: 160px;">
            <h5 style="text-align: center;">Height</h5>
        </div>

        <!-- Height labels for ft. & inches. -->
        <div style="margin: auto; display: flex; width: 160px;">
            <div style="width: 80px;">
                {{ profile_form.height_feet.label }}
            </div>
            <div style="width: 80px;">
                {{ profile_form.height_inches.label }}
            </div>
        </div>

        <!-- Dropdowns for Height (ft and inches.) -->
        <div style="margin: auto; display: flex; width: 160px;">
            <div class="form-group">
                {{ profile_form.height_feet(class="btn btn-light dropdown-toggle") }}
            </div>

            <div class="form-group">
                {{ profile_form.height_inches(class="btn btn-light dropdown-toggle") }}
            </div>
        </div>
        <br>
        <!----- Activity Level ----->
        <div style="margin: auto; width: 300px;">
            <div class="form-group">
                <h5 style="text-align: center;">Activity Level</h5>
                {{ profile_form.activity(class="btn btn-light dropdown-toggle") }}
            </div>
        </div>

        <br>

        <!----- Health Labels ----->
        <div class="form-group" style="margin: auto;">
            <h5 style="text-align: center;">Diet Health Labels</h5>
            <div class="form-check col-md-6 col-sm-8 col-xs-6">
                <ul style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))">
                {% for subfield in profile_form.diet_type %}
                        <li class="text-start" style="list-style: none;">
                            {{ subfield(class="form-check-input") }}
                            {{ subfield.label }}
                        </li>
                {% endfor %}
                </ul>
            </div>
        </div>


        <div class="form-group">
            <!-- Submit -->
            <br>
{#            {{ profile_form.submit }}#}
            <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Submit">
        </div>
        {{ profile_form.csrf_token }}
        {##}
        {#            {% if profile_form.submit.data %}#}
        {#                {{ is_available() }}#}
        {#            {% endif %}#}
    </form>
        {{ profile_form.csrf_token }}
{% endblock profile_body %}