{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

    <!-- About -->
    <div class="container">
        <h1>About</h1>

        <p>Here is a blurb about our app and our mission behind it. (Work In Progress)</p>

        <p>
            BUFFED is a calorie tracking web app that breaks down desired calories into macronutrients
            and allows users to pick and choose their daily meals to stay on track. We ask our users
            to register an account with us and answer a few questions to help customize their experience.
            BUFFED is the new way to balance food and fitness.
        </p>
    </div>

    <!-- Contact Us -->
    <div class="container">

        {# Alert user if form's not working #}
        {% macro is_available() %}
            {% if not form.available %}
                <div class="alert alert-{{ form.alert }}" role="alert">
                  {{ form.alert_msg }}
                </div>
            {% endif %}
        {% endmacro %}
        {{ is_available() }}

        <h1>Contact Us</h1>

        <!-- Contact Form -->
        <!-- This form uses Flask-WTF forms for input and labels with bootstrap grid layout  -->
        <form action="/about" method=post>
            <div class="form-group">
                 <!-- Name -->
                {{ form.name.label }}<br>
                {{ form.name }}
            </div>
            <div class="form-group">
                <!-- Email -->
                {{ form.email.label }}<br>
                {{ form.email }}
            </div>
            <div class="form-group">
                <!-- Subject Line -->
                {{ form.subject.label }}<br>
                {{ form.subject }}
            </div>
            <div class="form-group">
                <!-- Message Body -->
                {{ form.message.label }}<br>
                {{ form.message }}
            </div>
            <div class="form-group">
                <!-- Submit -->
                {# use macro to show error if submission isn't available #}
                {{ form.submit }}
                {% if form.submit.data %}
                    {{ is_available() }}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}