{% extends "base.html" %}
{% set active_page = "my_goals" %}
{% block title %}
    Create New Goal
{% endblock %}
{% block content %}
    <h1>Create New Goal</h1>
    <br>
    <form action="/my_goals/" method="POST">
        <div class="form-group w-50 p-3">
            <label for="goalTitleInput" class="form-label">Title</label>
            <input type="text" class="form-control" id="goalTitleInput" name="goal_name" placeholder="Enter goal name:">
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalCalorieInput">Calories</label>
            <input type="number" class="form-control" id="goalCalorieInput" name="calories" placeholder="Enter calorie amount:">
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalCarbInput" class="form-label">Carbohydrates:</label>
            <input type="range" class="form-range" min="0" max="800" id="goalCarbInput" name="carbs"
                    onChange="document.getElementById('rangeval1').innerText = document.getElementById('goalCarbInput').value">
            <span id="rangeval1">150<!-- Default value --></span>
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalFatInput" class="form-label">Fat:</label>
            <input type="range" class="form-range" min="0" max="800" id="goalFatInput" name="fat"
                    onChange="document.getElementById('rangeval2').innerText = document.getElementById('goalFatInput').value">
            <span id="rangeval2">100<!-- Default value --></span>
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalProteinInput" class="form-label">Protein:</label>
            <input type="range" class="form-range" min="0" max="800" id="goalProteinInput" name="protein"
                    onChange="document.getElementById('rangeval3').innerText = document.getElementById('goalProteinInput').value">
            <span id="rangeval3">200<!-- Default value --></span>
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalNumberOfMealsInput">Number of Meals</label>
            <input type="number" class="form-control" id="goalNumberOfMealsInput" name="number_of_meals" placeholder="Number of Meals:">
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalDesiredWeightInput">Desired Weight</label>
            <input type="number" class="form-control" id="goalDesiredWeightInput" name="desired_weight" placeholder="Desired Weight:">
            <input type="range" class="form-range" min="0" max="800" id="goalProteinInput" name="protein"
                    onChange="document.getElementById('rangeval3').innerText = document.getElementById('goalProteinInput').value">
            <span id="rangeval3">200<!-- Default value --></span>
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalNumberOfMealsInput">Number of Meals</label>
            <input type="number" class="form-control" id="goalNumberOfMealsInput" name="number_of_meals" placeholder="Number of Meals:">
        </div>
        <div class="form-group w-50 p-3">
            <label for="goalDesiredWeightInput">Number of Meals</label>
            <input type="number" class="form-control" id="goalDesiredWeightInput" name="desired_weight" placeholder="Desired Weight:">
        </div>
        <div class="w-50">
            <button type="submit" class="btn btn-dark">Save Goal</button>
        </div>
    </form>
{% endblock %}