{% extends "base.html" %}
{% set active_page = "dashboard" %}
{% block title %}
    Dashboard
{% endblock %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
{%  endblock %}
{% block content %}
    <h1>Dashboard</h1>
    {% if goal %}
    <div class="container">
    <br><br>
        <div class="row">
            <div class="col-4">
                <h3 align="left"><u>
                        Active Goal:
{#                        <a href="/my_goals" class="link-primary">{{ goal.goal_name }}</a>#}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#edit{{ goal.goal_id }}" class="link-primary">{{ goal.goal_name }}</a>
                </u>
                </h3>
                <div>
                    <p class="fs-3" align="left" id="calories">Calories: {{goal.calories}}</p>
                    <p class="fs-3" align="left" id="carbs"><span class="carbText">Carbs:</span> {{goal.macro_nutrients['carbs'][0]}}g</p>
                    <p class="fs-3" align="left" id="fats"><span class="fatText">Fats:</span> {{goal.macro_nutrients['fat'][0]}}g</p>
                    <p class="fs-3" align="left" id="protein"><span class="proteinText">Protein:</span> {{goal.macro_nutrients['protein'][0]}}g</p>
                </div>
            </div>
            <div class="col-7" align="right">
                <canvas id="macro-chart" width="350" height="350"></canvas>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-3 justify-content-around">
                <h3 align="left"><u>Today's Caloric Info:</u></h3>
                <p class="fs-3" align="left" id="calories">Calories: {{ round(calories["calories"]) }}</p>
                <p class="fs-3" align="left" id="carbs"><span class="carbText">Carbs:</span> {{ round(calories["carbs"]) }}g</p>
                <p class="fs-3" align="left" id="fats"><span class="fatText">Fats:</span> {{ round(calories["fat"]) }}g</p>
                <p class="fs-3" align="left" id="protein"><span class="proteinText">Protein:</span> {{ round(calories["protein"]) }}g</p>
            </div>
            <div class="col-3">
                <canvas id="carb-chart" width="245" height="245"></canvas>
            </div>
            <div class="col-3">
                <canvas id="fats-chart" width="245" height="245"></canvas>
            </div>
            <div class="col-3">
                <canvas id="protein-chart" width="245" height="245"></canvas>
            </div>
        </div>
    </div>
    <a href="/todays_plan" >
        <button type="button" class="btn btn-dark">My Meal Log for Today</button>
    </a>
    <div class="modal fade" id="edit{{ goal.goal_id }}" tabindex="-1" aria-labelledby="editGoalModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title w-100" id="editGoalModalLabel">Edit My Goal</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/my_goals/update_goals/" method="POST">
                                <div class="modal-body">
                                    <div class="form-group" style="display: none;">
                                        <label for="goalGoalId" class="form-label">Goal ID</label>
                                        <input type="text" class="form-control" id="goalGoalId" value="{{ goal.goal_id }}"
                                               name="goal_id" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="goalTitleInput" class="form-label">Goal Name</label>
                                        <input type="text" class="form-control" id="goalTitleInput" value="{{ goal.goal_name }}"
                                               name="goal_name" placeholder="Enter goal name:">
                                    </div>
                                    <div class="form-group">
                                        <label for="goalCalorieInput">Calories</label>
                                        <input type="number" class="form-control" id="goalCalorieInput" value="{{ goal.calories }}"
                                               name="calories" placeholder="Enter calorie amount:">
                                    </div>
                                    <div id="slider-range" class="form-group"></div>
                                    <div class="form-group">
                                        <label for="goalCarbInput" class="form-label">Carbohydrates:</label>
                                        <input type="range" class="form-range" min="0" max="{{ goal.calories // 4 }}" id="goalCarbInput" name="carbs"
                                        oninput="document.getElementById('new_carbs').innerHTML = document.getElementById('goalCarbInput').value"
                                        value="{{ goal.macro_nutrients['carbs'][0] }}">
                                        <p id="new_carbs">{{ goal.macro_nutrients['carbs'][0]}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="goalFatInput" class="form-label">Fat:</label>
                                        <input type="range" class="form-range" min="0" max="{{ goal.calories // 9 }}" id="goalFatInput" name="fat"
                                        oninput="document.getElementById('new_fat').innerHTML = document.getElementById('goalFatInput').value"
                                        value="{{ goal.macro_nutrients['fat'][0] }}">
                                        <span id="new_fat">{{ goal.macro_nutrients['fat'][0] }}</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="goalProteinInput" class="form-label">Protein:</label>
                                        <input type="range" class="form-range" min="0" max="{{ goal.calories // 4 }}" id="goalProteinInput" name="protein"
                                        oninput="document.getElementById('new_protein').innerHTML = document.getElementById('goalProteinInput').value"
                                        value="{{ goal.macro_nutrients['protein'][0] }}">
                                        <span id="new_protein">{{ goal.macro_nutrients['protein'][0] }}</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="goalNumberOfMealsInput">Number of Meals</label>
                                        <input type="number" class="form-control" id="goalNumberOfMealsInput" value="{{ goal.number_of_meals }}"
                                               name="number_of_meals" placeholder="Enter number of meals:">
                                    </div>
                                    <div class="form-group">
                                        <label for="goalDesiredWeightInput">Desired Weight</label>
                                        <input type="number" class="form-control" id="goalDesiredWeightInput" value="{{ goal.desired_weight }}"
                                               name="desired_weight" placeholder="Enter desired weight:">
                                    </div>
                                    <div class="form-check">
                                        {% if goal.is_active %}
                                            <label class="form-check-label" for="goalIsActiveCheckbox">Make Goal Active</label>
                                            <input class="form-check-input" type="checkbox" name="active_checkbox" value="" id="goalIsActiveCheckbox" checked>
                                        {% else %}
                                            <label class="form-check-label" for="goalIsActiveCheckbox">Make Goal Active</label>
                                            <input class="form-check-input" type="checkbox" name="active_checkbox" value="" id="goalIsActiveCheckbox">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                    <button type="sumbit" name="action" value="Update" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                                    <button type="submit" name="action" value="Delete" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    {% block javascript %}
        <script>
            var ctx = document.getElementById("macro-chart").getContext("2d");
            var anotherChart = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: ["Protein", "Carbs", "Fat"],
                    datasets: [{
                        label: "Macros",
                        data: {{ macrosAvgs | safe }},
                        backgroundColor: [
                            '#2ac54d',
                            '#136ccc',
                            '#5e5c5c',
                        ],
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        datalabels: {
                            formatter: (value) => {
                                return value + '%';

                            },
                            color: '#fff',
                        },
                        title: {
                            display: true,
                            text: 'Macro-nutrient Summary'
                        },
                        legend: {
                            position: 'bottom',
                            align: 'center'
                        },
                    }
                },
                plugins: [ChartDataLabels]
            });
        </script>
        <script>
            const carbData = {{ [(calories['carbs'] / (goal['macro_nutrients']['carbs'][0]) * 100),
                         (1 - (calories['carbs'] / goal['macro_nutrients']['carbs'][0])) * 100] | safe }};
            const carbColors = [];
            if (carbData[0] > 100) {carbColors.push("#EF0404FF"), carbData.pop() }
            else {carbColors.push('#136ccc', '#000000')}
            var ctx = document.getElementById("carb-chart").getContext("2d");
            var anotherChart = new Chart(ctx, {
                type: "doughnut",
                data: {
                    labels: ["Carbs", "Carbs Goal"],
                    datasets: [{
                        label: "Macros",
                        data: carbData,
                        backgroundColor: carbColors
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        datalabels: {
                            formatter: (value) => {
                                return value.toFixed(2) + '%';

                            },
                            color: '#fff',
                        },
                        title: {
                            display: true,
                            text: 'Carbohydrates'
                        },
                        legend: {
                            position: 'bottom',
                            align: 'center'
                        },
                    }
                },
                plugins: [ChartDataLabels]
            });
        </script>
        <script>
            const fatData = {{ [(calories['fat'] / (goal['macro_nutrients']['fat'][0]) * 100),
                         (1 - (calories['fat'] / goal['macro_nutrients']['fat'][0])) * 100] | safe }};
            const fatColors = [];
            if (fatData[0] > 100) {fatColors.push("#EF0404FF"), fatData.pop() }
            else {fatColors.push('#5e5c5c', '#000000')}
            var ctx = document.getElementById("fats-chart").getContext("2d");
            var anotherChart = new Chart(ctx, {
                type: "doughnut",
                data: {
                    labels: ["Fats", "Fat Goal"],
                    datasets: [{
                        label: "Macros",
                        data: fatData,
                        backgroundColor: fatColors
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        datalabels: {
                            formatter: (value) => {
                                return value.toFixed(2) + '%';

                            },
                            color: '#fff',
                        },
                        title: {
                            display: true,
                            text: 'Fats'
                        },
                        legend: {
                            position: 'bottom',
                            align: 'center'
                        },
                    }
                },
                plugins: [ChartDataLabels]
            });
        </script>
        <script>
            const proteinData = {{ [(calories['protein'] / (goal['macro_nutrients']['protein'][0]) * 100),
                         (1 - (calories['protein'] / goal['macro_nutrients']['protein'][0])) * 100] | safe }};
            const proteinColors = [];
            if (proteinData[0] > 100) {proteinColors.push("#EF0404FF"), proteinData.pop() }
            else {proteinColors.push('#2ac54d','#000000')}
            var ctx = document.getElementById("protein-chart").getContext("2d");
            var anotherChart = new Chart(ctx, {
                type: "doughnut",
                data: {
                    labels: ["Protein", "Protein Goal"],
                    datasets: [{
                        label: "Macros",
                        data: proteinData,
                        backgroundColor: proteinColors
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        datalabels: {
                            formatter: (value) => {
                                return value.toFixed(2) + '%';

                            },
                            color: '#fff',
                        },
                        title: {
                            display: true,
                            text: 'Protein'
                        },
                        legend: {
                            position: 'bottom',
                            align: 'center'
                        },
                    }
                },
                plugins: [ChartDataLabels]
            });
        </script>
    {% endblock %}
    {% else %}
        <br>
        <h2>You don't have an active goal set. Go to <a href="{{ url_for('my_goals.my_goals') }}">My Goals</a> to set one.</h2>
    {% endif %}
{% endblock %}