{% extends "base.html" %}
{% set active_page = "edit_profile" %}
{% block content %}

<h1>{% block title %}Edit Profile{% endblock %}</h1>
<div class ="body">


    <nav class="navbar navbar-expand-md navbar-light">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{{ url_for('my_profile.my_profile') }}">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('edit_profile.edit_profile') }}">Edit</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('settings.settings') }}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>

    <p><i>You can change your information below.</i></p>

    <hr/>
    <div class="jumbotron" align="center">

    <!-- Form-entries below need to be put into a form. -->
    <!-- Datepicker is deprecated in bootstrap, so trying to figure out how to implement it. -->

    <form action="{{ url_for('edit_profile.edit_profile') }}" method="post">
        {% include 'incl/profile_questionnaire.html' %}
    </form>


    </div>
</div>
{% endblock %}