{% extends "base.html" %}
{% set active_page = "my_goals" %}
{% block title %}
    My Goals
{% endblock %}
{% block content %}
    <h1>My Goals</h1>
    </br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">ID</th>
                <th scope="col">Goal Name</th>
                <th scope="col">Calories</th>
                <th scope="col">Desired Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
                <tr>
                    <td>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editGoalModal">
                            Edit Goal
                        </button>
                    </td>
                    <td> {{ goal.id }}</td>
                    <td>{{ goal.name }}</td>
                    <td>{{ goal.calories }}</td>
                    <td>{{ goal.desired_weight }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="editGoalModal" tabindex="-1" aria-labelledby="editGoalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editGoalModalLabel">Edit My Goal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
            </div>
        </div>
    </div>
   <a href="{{ url_for('about') }}" >
      <button type="button" class="btn btn-dark">Create New Goal</button>
   </a>
{% endblock %}