{% extends "base.html" %}
{% set active_page = "my_meals" %}
{% block content %}
<h1>{% block title %}My Meals{% endblock %}</h1>
<div class="grid">
    {% if saved_meals|length > 0 %}
        {% for meal in saved_meals|batch(3) %}
            <div class="row justify-content-center">
                {% for card in meal %}
                    <div class="card g-col-4 w-25">
                        <div class="card-body">
                            <button class="save-meal-button btn btn-danger float-end" id="{{ card.meal_id }}">- My Meals</button>
                            <button class="todays-plan-button btn btn-primary float-start" id="today-{{ card.meal_id }}">+ Today's Plan</button>
                            <a href="{{ url_for('find_meals.nutrition', meal_id=card.meal_id) }}"><img class="card-img-top" src="{{ card.meal_img_url }}"></a>
                            <h1 class="card-title">{{ card.meal_name }}</h1>
                            <h2 class="card-text">Calories: {{ round(card.nutrients["ENERC_KCAL"]["quantity"], 2) }} per serving</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <h2>No meals saved.</h2>
    {% endif %}
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/my_meals.js') }}"></script>
{% endblock %}