{% extends "base.html" %}
{% set active_page = "settings" %}
{% block content %}
<h1>{% block title %}Settings{% endblock %}</h1>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('my_profile.my_profile') }}">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('edit_profile.edit_profile') }}">Edit<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings.settings') }}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>

    <p><i>You will be able to change your account settings in this tab. Such as changing your password, email or deleting your account.</i></p>

    <div>
        <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#deleteWindow">Delete Your Account</a>
    </div>

    <!-- Sign-in to Account Modal -->

    <form id="delete-form" method="post" action="/settings/" role="form" class="form-horizontal">
        <div class="modal" id="deleteWindow" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->

                    <div class="modal-header d-flex justify-content-between" style="background: #000000">
                        <div>
                        </div>
                        <div>
                            <h4 class="=modal-title text-white font-weight-bold">
                                Delete Account
                            </h4>
                        </div>
                        <div>
                            <button type="button" class="btn-close btn-close-white" aria-label="Close"
                                data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>

                    <br>

                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row justify-content-center">

                                    <h6>You are about to delete your account.  Are you sure you want to continue with
                                    account deletion?</h6>


                            </div>


                            <br>

                            <div>
                                <input type="checkbox" value="True" id="deleteMe" name="deleteMe"> <label for="deleteMe">Yes</label>
                            </div>

                            <br>

                            <!-- Button -->
                            <div class="col text-center">
                                <input type="submit" name="delete-button" class="btn btn-danger" value="Delete this Account" style="width: 200px;">
                            </div>
                            <div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>


{% endblock %}