{% extends "base.html" %}
{% set active_page = "todays_plan" %}
{% block content %}

<h1>{% block title %}Today's Plan{% endblock %}</h1>

<!-- Breakfast -->
<h3 class="text-start">Breakfast:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 15%">Meal</th>
            <th scope="col" style="width: 15%">Calories</th>
            <th scope="col" style="width: 15%">Protein</th>
            <th scope="col" style="width: 15%">Carbs</th>
            <th scope="col" style="width: 15%">Fat</th>
            <th scope="col" style="width: 15%"></th>
            <th scope="col" style="width: 5%"></th>
        </tr>
    </thead>
    <tbody>
        {% for meal in meals %}
            <!-- Row Information -->
            {% if meal["meal_type_section"] == "breakfast" %}
                <tr>
                    <td>{{ meal.meal_name }}</td>
                    <td>{{ round(meal.nutrients["ENERC_KCAL"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["PROCNT"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["CHOCDF"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["FAT"]["quantity"], 2) }}</td>
                    <!-- Button trigger modal -->
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#delete{{ meal.meal_id }}-breakfast">Delete Meal</button>
                    </td>
                    <td>
                        <a href="{{ url_for('find_meals.nutrition', meal_id=meal.meal_id) }}">
                            <i class="fa-solid fa-arrow-right fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="delete{{ meal.meal_id }}-breakfast" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Meal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Form -->
                    <form action="/todays_plan/update_plan/" method="POST">
                        <div class="modal-body">
                            Are you sure you want to remove this meal? This action cannot be undone. <br>
                            <div class="form-group">
                                <label for="mealMealID" class="form-label">Removing: {{ meal.meal_name }}</label>
                                <input type="hidden" class="form-control" id="mealMealID" name="meal_id" value="{{ meal.meal_id }}">
                                <input type="hidden" class="form-control" id="mealMealType" name="meal_type_section" value="breakfast">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" name="action" value="Delete" class="btn btn-danger" data-bs-dismiss="modal">Delete Meal</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        {% endfor %}
    </tbody>
</table>

<br>
<br>

<!-- Lunch -->
<h3 class="text-start">Lunch:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 15%">Meal</th>
            <th scope="col" style="width: 15%">Calories</th>
            <th scope="col" style="width: 15%">Protein</th>
            <th scope="col" style="width: 15%">Carbs</th>
            <th scope="col" style="width: 15%">Fat</th>
            <th scope="col" style="width: 15%"></th>
            <th scope="col" style="width: 5%"></th>
        </tr>
    </thead>
    <tbody>
        {% for meal in meals %}
            <!-- Row Information -->
            {% if meal["meal_type_section"] == "lunch" %}
                <tr>
                    <td>{{ meal.meal_name }}</td>
                    <td>{{ round(meal.nutrients["ENERC_KCAL"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["PROCNT"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["CHOCDF"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["FAT"]["quantity"], 2) }}</td>
                    <!-- Button trigger modal -->
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#delete{{ meal.meal_id }}-lunch">Delete Meal</button>
                    </td>
                    <td>
                        <a href="{{ url_for('find_meals.nutrition', meal_id=meal.meal_id) }}">
                            <i class="fa-solid fa-arrow-right fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="delete{{ meal.meal_id }}-lunch" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Meal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Form -->
                    <form action="/todays_plan/update_plan/" method="POST">
                        <div class="modal-body">
                            Are you sure you want to remove this meal? This action cannot be undone. <br>
                            <div class="form-group">
                                <label for="mealMealID" class="form-label">Removing: {{ meal.meal_name }}</label>
                                <input type="hidden" class="form-control" id="mealMealID" name="meal_id" value="{{ meal.meal_id }}">
                                <input type="hidden" class="form-control" id="mealMealType" name="meal_type_section" value="lunch">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" name="action" value="Delete" class="btn btn-danger" data-bs-dismiss="modal">Delete Meal</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        {% endfor %}
    </tbody>
</table>

<br>
<br>

<!-- Dinner -->
<h3 class="text-start">Dinner:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 15%">Meal</th>
            <th scope="col" style="width: 15%">Calories</th>
            <th scope="col" style="width: 15%">Protein</th>
            <th scope="col" style="width: 15%">Carbs</th>
            <th scope="col" style="width: 15%">Fat</th>
            <th scope="col" style="width: 15%"></th>
            <th scope="col" style="width: 5%"></th>
        </tr>
    </thead>
    <tbody>
        {% for meal in meals %}
            <!-- Row Information -->
            {% if meal["meal_type_section"] == "dinner" %}
                <tr>
                    <td>{{ meal.meal_name }}</td>
                    <td>{{ round(meal.nutrients["ENERC_KCAL"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["PROCNT"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["CHOCDF"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["FAT"]["quantity"], 2) }}</td>
                    <!-- Button trigger modal -->
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#delete{{ meal.meal_id }}-dinner">Delete Meal</button>
                    </td>
                    <td>
                        <a href="{{ url_for('find_meals.nutrition', meal_id=meal.meal_id) }}">
                            <i class="fa-solid fa-arrow-right fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="delete{{ meal.meal_id }}-dinner" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Meal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Form -->
                    <form action="/todays_plan/update_plan/" method="POST">
                        <div class="modal-body">
                            Are you sure you want to remove this meal? This action cannot be undone. <br>
                            <div class="form-group">
                                <label for="mealMealID" class="form-label">Removing: {{ meal.meal_name }}</label>
                                <input type="hidden" class="form-control" id="mealMealID" name="meal_id" value="{{ meal.meal_id }}">
                                <input type="hidden" class="form-control" id="mealMealType" name="meal_type_section" value="dinner">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" name="action" value="Delete" class="btn btn-danger" data-bs-dismiss="modal">Delete Meal</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        {% endfor %}
    </tbody>
</table>

<br>
<br>

<!-- Snacks -->
<h3 class="text-start">Snacks:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 15%">Meal</th>
            <th scope="col" style="width: 15%">Calories</th>
            <th scope="col" style="width: 15%">Protein</th>
            <th scope="col" style="width: 15%">Carbs</th>
            <th scope="col" style="width: 15%">Fat</th>
            <th scope="col" style="width: 15%"></th>
            <th scope="col" style="width: 5%"></th>
        </tr>
    </thead>
    <tbody>
        {% for meal in meals %}
            <!-- Row Information -->
            {% if meal["meal_type_section"] == "snack" %}
                <tr>
                    <td>{{ meal.meal_name }}</td>
                    <td>{{ round(meal.nutrients["ENERC_KCAL"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["PROCNT"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["CHOCDF"]["quantity"], 2) }}</td>
                    <td>{{ round(meal.nutrients["FAT"]["quantity"], 2) }}</td>
                    <!-- Button trigger modal -->
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#delete{{ meal.meal_id }}-snack">Delete Meal</button>
                    </td>
                    <td>
                        <a href="{{ url_for('find_meals.nutrition', meal_id=meal.meal_id) }}">
                            <i class="fa-solid fa-arrow-right fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="delete{{ meal.meal_id }}-snack" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Meal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Form -->
                    <form action="/todays_plan/update_plan/" method="POST">
                        <div class="modal-body">
                            Are you sure you want to remove this meal? This action cannot be undone. <br>
                            <div class="form-group">
                                <label for="mealMealID" class="form-label">Removing: {{ meal.meal_name }}</label>
                                <input type="hidden" class="form-control" id="mealMealID" name="meal_id" value="{{ meal.meal_id }}">
                                <input type="hidden" class="form-control" id="mealMealType" name="meal_type_section" value="snack">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" name="action" value="Delete" class="btn btn-danger" data-bs-dismiss="modal">Delete Meal</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        {% endfor %}
    </tbody>
</table>

<br>
<br>

<!-- Total Section -->
<h3 class="text-start">Total:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 20%">Number of Meals</th>
            <th scope="col" style="width: 20%">Calories</th>
            <th scope="col" style="width: 20%">Protein</th>
            <th scope="col" style="width: 20%">Carbs</th>
            <th scope="col" style="width: 20%">Fat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ round(calories["num_meals"], 2) }}</td>
            <td>{{ round(calories["calories"], 2) }}</td>
            <td>{{ round(calories["protein"], 2) }}</td>
            <td>{{ round(calories["carbs"], 2) }}</td>
            <td>{{ round(calories["fat"], 2) }}</td>
        </tr>
    </tbody>
</table>

<!-- Delete All Meals Section -->
<form action="/todays_plan/update_plan/" method="POST">
    <button type="submit" name="action" value="DeleteAll" class="btn btn-danger text-center">Delete All Meals</button>
</form>

{% endblock content %}
